<footer class="py-4 bg-dark">
	<div class="container text-center">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
			<li class="nav-item"><a class="nav-link" href="/terms">Terms</a></li>
			<li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
		</ul>
		<div>&copy; 2018 Bidvest McCarthy.</div>
	</div>
</footer>