<nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" alt="Bidvest McCarthy">Bidvest McCarthy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
    	  @await Html.PartialAsync("LoginPartial")
  		</div>
    </div>
</nav>