@{
    ViewData["Title"] = "Dealers";
}


<div class="card">
	<div class="card-body">
		<h4 class="mb-0">@ViewData["Title"]</h4>
	</div>
	<table id="data-table" class="table table-sm table-hover mb-0">
        <thead class="thead-light">
            <tr>
                <th>Dealer Name</th>
                <th>Region</th>
                <th>Email Address</th>
                <th>Telephone Number</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>Arcadia</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0113034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
               
                <td>Balito</td>
                <td>KwaZulu-Natal</td>
                <td>info@lexusbalito.co.za</td>
                <td>0323034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
                
            </tr>
            <tr>
               
                <td>Centurion</td>
                <td>Gauteng</td>
                <td>info@lexuscenturion.co.za</td>
                <td>0123034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Arcadia</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0113034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Balito</td>
                <td>KwaZulu-Natal</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0323034589</td>	                            
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Centurion</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0123034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Arcadia</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0113034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Balito</td>
                <td>KwaZulu-Natal</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0323034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
               
                <td>Centurion</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0123034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
               
                <td>Arcadia</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0113034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
                
                <td>Balito</td>
                <td>KwaZulu-Natal</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0323034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            <tr>
               
                <td>Centurion</td>
                <td>Gauteng</td>
                <td>info@lexusarcadia.co.za</td>
                <td>0123034589</td>
                <td class="text-right">                                     
                    <a href="/add-dealer" class="btn btn-light"><i class="fas fa-pencil-alt fa-sm"></i></a>
                    <a href="" class="btn btn-light"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts {
	<script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    
    <script src="~/js/dealers.js"></script>
}